*.DS_Store
.gitignore
paper/manubot/build/
paper/manubot/ci/
paper/manubot/content/old_todelete/
paper/manubot/LICENSE-CC0.md
paper/manubot/LICENSE.md
paper/manubot/output/
paper/manubot/README.md
paper/manubot/rootstock-master/
paper/manubot/rootstock-master.zip
paper/manubot/SETUP.md
paper/manubot/USAGE.md
paper/manubot/.travis.yml
paper/manubot/.gitignore
paper/manubot/webpage/images/
paper/manubot/webpage/index.html
paper/manubot/webpage/manuscript.pdf
paper/manubot/webpage/README.md
paper/manubot/webpage/v/freeze/
paper/manubot/webpage/v/latest/
code/.ipynb_checkpoints/
code/FAIR_analysis.ipynb
code/FAIR_Parkinsons_AE.ipynb
code/FAIR_NBIA_GEO.ipynb
code/FAIR_TiO2_ENM.ipynb
code/FAIR_Caffeine_ChEBI.ipynb